@mixin center-layout($type : 'all') {
  @if $type == 'h' {
    display: flex;
    justify-content: center;
  } @else if $type == 'v' {
    display: flex;
    align-items: center;
  } @else {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
