$color-primary: #409EFF;
$color-success: #67C23A;
$color-warning: #EB9E05;
$color-danger: #FA5555;
$color-info: #878D99;

$font-color-primary: #2D2F33;
$font-color-common: #5A5E66;
$font-color-secondary: #878D99;
$font-color-place-holder: #B4BCCC;

$border-color-level1: #D8DCE5;
$border-color-level2: #DFE4ED;
$border-color-level3: #E6EBF5;
$border-color-level4: #EDF2FC;

$font-size-title-large: 20px;
$font-size-title: 18px;
$font-size-title-small: 16px;
$font-size-content: 14px;
$font-size-content-small: 13px;
$font-size-desc: 12px;

$dialog-common-width: 400px;

$side-width: 160px;
$header-height: 60px;

$bottom-height: 56px;
